<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/952161e113.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <title>Freshman Course</title>
</head>
<body>
    <div class="first">
        <header>
            <h1 id="fresh">Freshman Course (NS) - 1</h1>
        </header>
        <ul class="link">
           <li> <a href="http://t.me/Nathnael-tamirat" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-telegram" style="color: #ffffff;"></i></a></li>
            <li> <a href="https://twitter.com/n_codingjourney" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a></li>
            <li> <a href="https://www.instagram.com/nathnael_tamirat/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram" style="color: #f4f5f5;"></i></a></li>
        </ul>
    </div>
    <div class="wrapper">
    <div class="second">
        <ul>
            <li><p>Textbook</p> <video src="Image for scratch website/Tb.mp4" autoplay loop muted></video></li>
            <li onclick="first()" onmouseover="second()"onmouseleave="third()"><p>Teachers Guide</p><video src="Image for scratch website/Tg.mp4" autoplay loop muted></video></li>
            <li onclick="first()" onmouseover="second()" onmouseleave="third()"><p>Reference</p><video src="Image for scratch website/Rb.mp4" autoplay loop muted></video></li>

        </ul>
    </div>
    
    <div class="third">
        <a  href="pdf/maths for ns.pdf" target="_blank"> <video src="Image for scratch website/Maths.mp4" loop autoplay muted  >
        </video><p>Maths</p></a>
        <a href="pdf/english I.pdf" target="_blank"> <video src="Image for scratch website/English I.mp4" loop autoplay muted poster="Image for scratch website/english image.png" >
        </video><p>English I</p></a>
        <a  href="pdf/physics.pdf" target="_blank"> <video  src="Image for scratch website/Physics.mp4" loop autoplay muted poster="Image for scratch website/physics poster.png">
        </video><p>Physics</p></a>
        <a  href="pdf/psychology.pdf" target="_blank"><video src="Image for scratch website/psychology.mp4" loop autoplay muted >
        </video><p>psychology</p></a>
        <a  href="pdf/logic.pdf" target="_blank"> <video src="Image for scratch website/Logic and critical thinking.mp4"loop  autoplay muted  poster="Image for scratch website/logic poster.png">
        </video><p>logic</p></a>
        <a  href="pdf/geography.pdf" target="_blank"><video  src="Image for scratch website/Geography.mp4" autoplay loop muted >
        </video><p>Geography</p></a>
      </div>
    </div>
      <footer>
        <p> Nathnael Tamirat &copy 2023 for freshman students." Contact me " <a target="_blank" id="info"href="https://t.me/Nathnael_tamirat"><i class="fa-brands fa-telegram" style="color: #fff;"></i></a></p>
        
     </footer>  
<script src="script.js"></script>
</body>
</html>