body{
    margin:0;
    padding:0;
}
h1,h2{
    font-variant:small-caps;
    color:#000fff
}
h1{
    text-align:center;
}
header{background-color:#00ffff;}
section{
    background-color: #808080;
}
a{
    background-color:#ffff00;
    text-align: center;
}
img{
    display:none;
}
